{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-header bg-primary text-white text-center">
            <h3>Atualizar Venda</h3>
          </div>
          <div class="card-body">
            <form action="{% url 'atualizarVenda' id_venda %}" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="d-flex justify-content-between mt-4">
                <input type="submit" value="Enviar" class="btn btn-primary" />
                <a href="{% url 'listarVenda' %}" class="btn btn-secondary">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4"> 
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Produtos
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Unidade de Medida</th>
                    <th>Código de Barras</th>
                    <th>Valor Venda</th>
                    <th>Valor Compra</th>
                    <th>Quantidade do produto</th>
                  </tr>
                </thead>
                <tbody>
                  {% if produto %}
                    {% for produtos in produto %}
                      <tr>
                        <td>{{ produtos.nome }}</td>
                        <td>{{ produtos.unidadeMedida }}</td>
                        <td>{{ produtos.codDeBarra }}</td>
                        <td>R${{ produtos.valorVenda }}</td>
                        <td>R${{ produtos.valorCompra }}</td>
                        <td>{{ produtos.quantidade }}</td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="card-footer bg-white">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
