{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-primary text-white text-center">
            <h1 class="card-title">Adicionar Meta</h1>
          </div>
          <div class="card-body">
            <form action="{% url 'criarMeta' %}" method="post">
              {% csrf_token %}
              <div class="form-group">{{ form.as_p|safe }}</div>
              <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a href="{% url 'listarMeta' %}" class="btn btn-secondary">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
